.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 4rem 4rem;
}

.graphics1 {
  position: absolute;
  z-index: 0;
  bottom: -100px;
  right: 0;
  min-width: 100%;
  height: 120vh;
}

.cardTitle {
  font-weight: 500;
  color: black;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .content {
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .content {
    padding: 2rem 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }

  .graphics1 {
    height: 100vh;
  }

  .content {
    padding: 3rem 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .graphics1 {
    height: 130vh;
  }
}

@media only screen and (min-width: 1200px) {
  .graphics1 {
    height: 1400px;
  }
}
