.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chartContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.filtersContainer {
  display: flex;
  align-items: center;
}

.select {
  min-width: 300px;
  margin-right: 2rem;
}

.specificFilters {
  display: flex;
  position: relative;
}

.specificFilters, .commonFilters {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
}

.container h5 {
  margin: 0;
  text-transform: uppercase;
}

.datepickerWrapper {
  width: auto;
  min-width: 300px;
  margin-right: 2rem
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.colorContainer {
  width: 16px;
  height: 16px;
  margin: 0 0.5rem;
}
