.btn {
  border-radius: 10px;
  border: none;
  letter-spacing: 1.1px;
  font-weight: 400;
  max-width: 100%;
}

.btn:hover, .btnText:hover {
  cursor: pointer;
}

.btn.primary {
  color: white;
  background-color: var(--primary);
  transition: background-color 0.3s;
  border: solid 1px white;
}

.btn.primary:hover {
  background-color: var(--primary-dark);
}

.btn.primary:disabled {
  background-color: var(--primary-light);
}

.lg {
  width: 400px;
  height: 70px;
  font-size: 1.5rem;
}

.md {
  width: 150px;
  height: 50px;
  font-size: 1.25rem;
}

.btnText {
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  height: auto;
}

.btnText.primary  {
  color: var(--primary);
  transition: color 0.3s;
}

.btnText.primary:hover, .btnText.primary.active {
  color: var(--primary-dark);
}

.btnText.primary:disabled {
  color: var(--primary-light);
}

@media only screen and (max-width: 768px) {
  .lg {
    width: 100%;
  }
}
