.btn {
  border-radius: 10px;
  border: none;
  letter-spacing: 1.1px;
  font-weight: 400;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover, .btnText:hover {
  cursor: pointer;
}

.btn.primary {
  color: white;
  background-color: var(--primary);
  transition: background-color 0.3s;
  border: solid 1px white;
}

.btn.primary:hover {
  background-color: var(--primary-dark);
}

.btn.primary:disabled {
  background-color: var(--primary-light);
}

.btn.secondary {
  color: white;
  background-color: var(--secondary);
  transition: background-color 0.3s;
  border: solid 1px white;
}

.btn.secondary:hover {
  background-color: var(--secondary-dark);
}

.btn.secondary:disabled {
  background-color: var(--secondary-light);
}

.lg {
  width: 400px;
  height: 70px;
  font-size: 1.5rem;
}

.md {
  width: 150px;
  height: 50px;
  font-size: 1.25rem;
}

.btnText {
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  height: auto;
  position: relative;
}

.btnText.primary  {
  color: var(--primary);
  transition: color 0.3s;
}

.btnText.primary:hover, .btnText.primary.active {
  color: var(--primary-dark);
}

.btnText.primary:disabled {
  color: var(--primary-light);
}

.btnText.underline::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  content: '';
  width: 0;
  background-color: var(--primary);
  transition: width .3s, background-color .3s;
}

.btnText.underline:hover::after {
  width: 100%;
  transition: width .3s;
  content: '';
  background-color: var(--primary-dark);
}

@media only screen and (max-width: 768px) {
  .lg {
    width: 100%;
  }
}
