.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  color: white;
}

.graphics8 {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  height: 120vh;
  min-height: 55rem;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
}

.content h1 {
  font-weight: 400;
  margin: 20rem 0 4rem;
  font-size: 5rem;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
  width: 300px;
}

.copyright {
  flex-grow: 1;
  padding-bottom: 4rem;
  display: flex;
  align-items: flex-end;
}

.copyright h4 {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .container {
    min-height: 70vh;
  }

  .content h1 {
    margin: 2rem 0 3rem;
    font-size: 3rem;
  }

  .social {
    margin: 3rem 0;
    width: 200px;
  }

  .social img {
    width: 2rem;
  }

  .copyright {
    padding-bottom: 3rem;
  }

  .copyright h4 {
    font-size: 1rem;
  }

  .graphics8 {
    height: 70vh;
    min-height: 55rem;
  }
}

@media only screen and (min-width: 600px) {
  .graphics8 {
    height: 100vh;
  }

  .content h1 {
    margin: 3rem 0;
    font-size: 3.5rem;
  }

  .container {
    min-height: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  .graphics8 {
    height: 10vh;
  }

  .content h1 {
    margin: 5rem 0 3rem;
    font-size: 3.5rem;
  }

  .container {
    min-height: 10vh;
  }
}