:root{
  --primary: #4169E1;
  --primary-light: #B8C7F4;
  --primary-dark: #29428D;
  --secondary: #FF5753;
  --secondary-light: #FFC0BF;
  --secondary-dark: #9F3634;
  --tertiary: #FDDB5B;
  --tertiary-light: #FEF2C1;
  --tertiary-dark: #9E8939;
  --text-secondary: #4f4f4f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h3 {
  font-size: 2.5rem;
  color: var(--secondary);
  font-weight: bold;
}

h4 {
  font-size: 2.1rem;
  font-weight: 200;
  margin: 0.2rem 0;
  color: var(--text-secondary);
}

p {
  font-size: 1rem;
  font-weight: 200;
  color: var(--text-secondary);
}
