.container {
  width: 100%;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1.5rem 1rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px rgba(102, 102, 102, 0.12);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.3s ease-in-out;
}

.separator {
  flex-grow: 1;
}

.navContainer {
  display: none;
  align-items: center;
}

.navLink {
  font-weight: 700;
  text-align: center;
  width: auto !important;
}

.contact {
  font-size: 1rem !important;
}

.logo, .navLink, .contact {
  margin: 0 1rem !important;
  letter-spacing: 0.2px;
}

.icon {
  color: var(--primary);
  font-size: 2.5rem;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  display: block;
  z-index: 100;
}

.icon:hover {
  color: var(--primary-dark);
}

@media only screen and (min-width: 992px) {
  .navContainer {
    display: flex;
  }
}
