.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twoColumns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  min-height: 100vh;
}

.rightColumn, .leftColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3rem;
  z-index: 10;
}

.leftColumn h3 {
  margin: 1rem 0;
}
