.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 10rem;
}

.twoColumns {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5rem 0;
  z-index: 10;
}

.imageColumn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionColumn {
  width: 50%;
  padding: 0 4rem;
}

.descriptionColumn h3 {
  margin: 0;
  font-weight: 500;
}

.url {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline;
}

.description {
  margin-top: 2rem;
}

.graphics4, .graphics5 {
  position: absolute;
  z-index: 0;
  width: 5rem;
}

.graphics4 {
  top: 25%;
  left: 0;
}

.graphics5 {
  bottom: 25%;
  right: 0;
}

.sectionTitle {
  color: black;
  font-weight: 500;
  font-size: 3rem;
  margin: 5rem 0;
}

@media only screen and (max-width: 600px) {
  .twoColumns {
    flex-direction: column;
  }

  .imageColumn {
    width: 100%;
  }

  .descriptionColumn {
    width: 100%;
    padding: 2rem 1rem;
  }

  .container {
    padding: 0;
  }

  .graphics4 {
    top: 17%;
    left: 0;
  }

  .graphics5 {
    bottom: 24%;
    right: 0;
  }
}

@media only screen and (min-width: 600px) {
  .twoColumns {
    flex-direction: column;
  }

  .imageColumn {
    width: 100%;
  }

  .descriptionColumn {
    width: 100%;
    padding: 2rem 4rem;
  }

  .container {
    padding: 0;
  }

  .graphics4 {
    top: 17%;
    left: 0;
  }

  .graphics5 {
    bottom: 24%;
    right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .twoColumns {
    flex-direction: column;
  }

  .imageColumn {
    width: 100%;
  }

  .descriptionColumn {
    width: 100%;
    padding: 2rem 4rem;
  }

  .container {
    padding: 0;
  }

  .graphics4 {
    top: 17%;
    left: 0;
  }

  .graphics5 {
    bottom: 24%;
    right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 0 4rem;
  }

  .twoColumns {
    flex-direction: row;
    max-width: 1200px;
  }
}

