.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.graphics6, .graphics7 {
  position: absolute;
  z-index: 0;
  min-width: 100%;
  height: 40vh
}

.graphics6 {
  top: 0;
  left: 0;
}

.graphics7 {
  bottom: 0;
  right: 0;
}

.carouselContainer{
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.sectionTitle {
  margin-top: 13vh;
  color: white;
  font-weight: 500;
  font-size: 3rem;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .carouselContainer {
    flex-direction: column;
    margin-top: 0;
  }

  .graphics6 {
    top: -10vh;
    left: 0;
    height: 45vh;
  }

  .sectionTitle {
    margin-top: 6vh;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .carouselContainer {
    flex-direction: column;
    margin-top: 0;
  }

  .graphics6 {
    top: -10vh;
    left: 0;
    height: 60vh;
  }

  .sectionTitle {
    margin-top: 10vh;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .carouselContainer {
    flex-direction: column;
    margin-top: 0;
  }

  .sectionTitle {
    margin-top: 10vh;
    font-size: 2.5rem;
  }

  .graphics6 {
    top: -10vh;
    left: 0;
    height: 60vh;
  }

  .graphics7 {
    bottom: 0;
    right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .carouselContainer {
    flex-direction: row;
    margin-top: 0;
  }

  .graphics6 {
    height: 60vh;
  }

  .sectionTitle {
    margin-top: 13vh;
    font-size: 2.5rem;
  }
}
