.container {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 10rem;
}

.graphics6, .graphics7 {
  position: absolute;
  z-index: 0;
  min-width: 100%;
  height: 100%;
}

.graphics6 {
  top: -25%;
  left: 0;
  right: 0;
}

.graphics7 {
  bottom: 0;
  right: 0;
}

.author {
  font-size: 2.5rem;
  font-weight: 500;
}

.role {
  font-size: 1.1rem;
  color: #aaa;
  font-weight: 400;
  margin: 0;
}

.description {
  font-size: 1rem;
  color: #333;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.carouselContainer{
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15vh;
}

.sectionTitle {
  margin-top: 20vh;
  color: white;
  font-weight: 500;
  font-size: 3rem;
  z-index: 10;
}