.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewMore {
  font-weight: 700;
  color: var(--primary);
  font-style: normal;
}

.author {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-tertiary)
}

.role {
  font-size: 1.1rem;
  color: #aaa;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.description {
  font-size: 1rem;
  color: #333;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 4rem 0;
}